{% extends "base.html" %}

{% block content %}
    <div class="signup">
        <div class="form_container">
            <p class="heading">Enter Details</p>
            <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Username</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">vpn_key</i>
                <input id="icon_prefix" type="password" class="validate">
                <label for="icon_prefix">Password</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">location_on</i>
                <input id="icon_prefix" type="password" class="validate">
                <label for="icon_prefix">Country</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">cloud_upload</i>
                <input id="icon_prefix" type="password" class="validate">
                <label for="icon_prefix">Profile Pic</label>
            </div>
             <button class="btn waves-effect waves-light" type="submit" name="action">Create Account</button>
        </div>
    </div>
{% endblock %}